{% extends 'userprofile/userprofile.html' %}

{% block dashboard_page %} 


<section class="container-fluid">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-lg-3">
            <div class="sidebar">
                <p>Menu</p>
                <ul>
                    <li><a href="">Dashboard</a></li>
                    <li><a href="">Tasks</a></li>
                    <li><a href="">Notes</a></li>
                    <li><a href="">Book</a></li>
                    <li><a href="">Progress Card</a></li>
                    <li><a href="">Book Library</a></li>
                    
                </ul>
            </div>
        </div>
        <div class="col-lg-6">
           <main class="h-100 w-100">

            <h1>Main content</h1>
           </main>
        </div>
    </div>
</section>

{% endblock %}