<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Study Portal</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Arsha - v4.7.1
  * Template URL: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="index.html">Study Portal</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="t_home">Home</a></li>
          <li><a class="nav-link scrollto" href="teacher_view_student">Students</a></li>
          <li><a class="nav-link scrollto" href="question_paper">Create Question Paper</a></li>


          <li><a class="getstarted scrollto" href="home">Logout</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header>



  <section id="hero" class="d-flex align-items-center">

    <div class="container">

<div class="container">
        <form method="POST" class="row g-3" enctype="multipart/form-data">
            {% csrf_token %}
            <h1 class="display-7">Upload Question Paper here</h1>
            <div>
                <label for="head" class="form-label">Questin paper:</label>
                <input type="file" class="form-control" id="head" name="file">
            </div>

            <div><a href="home">
                <input type="submit" value="POST" class="btn btn-info">
            </a></div>

        </form>
    </div>
    </div>
  </section>


<center><table class="table" style="color:#fff;">
    <div class="container-fluid px-0">

                {% for i in user %}
                    <div class="card">
                        <div class="card-body">

                            <p class="card-text">
                                <img src="{{i.file.url}}" alt="photo" srcset="" height="300" width="250"><br>


                            </p>

                            </div>
                        </div>
                    {% endfor %}

                </div>


    </table>

</center>
</body>
</html>