<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Study Portal</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Arsha - v4.7.1
  * Template URL: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="index.html">Study Portal</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href=""></a></li>

          <li><a class="nav-link scrollto" href="#team">Team</a></li>
          <li class="dropdown"><a href="#"><span>Register</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="student_registration">Student Register</a></li>

              <li><a href="#">Teacher Registration</a></li>


            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          <li><a class="getstarted scrollto" href="login">Login</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->





      <!-- End Hero -->

<section id="hero" class="d-flex align-items-center">

    <div class="container">
		<h1 style="padding-left:300px;">Teacher Registration</h1>
		<i class="fa fa-arrow" aria-hidden="true"></i>
	</div>
</section>
<form method="post">
	{% csrf_token %}
		<center>
<!--			<h1 style="padding-top:200px;">Student REGISTRATION</h1>-->
		<table class="table" style="max-height: 50px; max-width: 500px;">
			<tr>
				<th>First name</th>
				<td><input type="text" pattern="[a-zA-Z\s]{0,50}" title="enter valid name" required name="fname" class="form-control"></td>
			</tr>
			<tr>
				<th>Last name</th>
				<td><input type="text" pattern="[a-zA-Z\s]{0,50}" title="enter valid name" required name="lname" class="form-control"></td>
			</tr>
			<tr>
				<th>Address</th>
				<td><input type="text" required name="address" class="form-control"></td>
			</tr>
			<tr>
				<th>Higher Qualification</th>
				<td><input type="text" required name="qua" class="form-control"></td>
			</tr>
			<tr>
				<th>Place</th>
				<td><input type="text" required name="place" pattern="[a-zA-Z\s]{0,50}" title="enter valid place" class="form-control"></td>
			</tr>
			<tr>
				<th>Phone</th>
				<td><input type="text" pattern="[0-9]{10}" title="enter valid phone" required name="phone" class="form-control"></td>
			</tr>

			<tr>
				<th>Email</th>
				<td><input type="email" required name="email" class="form-control"></td>
			</tr>
			<tr>
				<th>Username</th>
				<td><input type="text" name="username" class="form-control"></td>
			</tr>
			<tr>
				<th>Password</th>
				<td><input type="password"  required name="pword" class="form-control"></td>
			</tr>
			<tr>
				<td align="center" colspan="2"><input type="submit" value="register" name="submit" class="btn btn-danger"></td>
			</tr>
		</table>

		</center>
	</form>



			<footer id="footer">


    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>Study Portal</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/ -->
        Designed by <a href="#">Study Portal</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/static/assets/vendor/aos/aos.js"></script>
  <script src="/static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/static/assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="/static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/static/assets/js/main.js"></script>

</body>
</html>
