{% extends 'teacher_header.html' %}
{% block content %}

<center><h1>Students</h1></center>
<div style="max-height:250px;overflow-y:scroll">

<table class="table" style="color:#fff;">
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Address</th>
            <th>Age</th>
            <th>Place</th>
            <th>Phone</th>
            <th>Email</th>
        </tr>
        {% for i in user %}
        <tr>
            <td>{{i.firstname}}</td>
            <td>{{i.lastname}}</td>
            <td>{{i.address}}</td>
            <td>{{i.age}}</td>
            <td>{{i.place}}</td>
            <td>{{i.phone}}</td>
            <td>{{i.email}}</td>
        </tr>
        {% endfor %}
    </table>
    </div>
<br>
<br>


{% endblock %}