{% extends 'master/master.html' %}

{% block contribute_page %}


<section class="container-fluid">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-lg-4">
            <h1>Contribute</h1>
        </div>
        <div class="col-lg-6">
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos dolorem, officia soluta, blanditiis aut
                dicta excepturi illum quia, maxime esse sunt. Laboriosam repudiandae fugiat accusamus recusandae quia
                similique possimus voluptatibus vitae. Natus ut qui repudiandae deserunt incidunt excepturi possimus
                eaque eligendi autem fuga, temporibus minima neque doloremque ullam labore praesentium molestias modi
                vel nesciunt est, aperiam quis! Praesentium dicta sunt provident porro quas beatae quo commodi
                molestiae. Repudiandae nihil possimus, optio quisquam non rem distinctio blanditiis saepe voluptatem
                fuga, esse et accusantium ex provident cum impedit soluta. Animi id vitae consequatur vero architecto
                dolorum modi libero illum inventore, ab mollitia.
            </p>
        </div>
    </div>
</section>

{% endblock %}